<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        {{- range $i, $e := .Site.Menus.main }}
        {{ $active := or ($.HasMenuCurrent "main" . ) ($.IsMenuCurrent "main" .) }}
          {{ if .HasChildren }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle{{ if $active }} active{{ end }}" href="#"
                id="navbarDropdown-{{- $i -}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{- $i -}}">
              {{- range .Children }}
                {{- if eq .Params.disabled true -}}
                  <li>
                    <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">
                      {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                    </a>
                  </li>
                {{- else if eq .Params.divider true}}
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                {{- else -}}
                  <li>
                    <a class="dropdown-item{{ if $active }} active" aria-current="page{{ end }}"
                      href="{{ .URL }}">
                      {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                    </a>
                  </li>
                {{- end -}}
              {{- end }}
              </ul>
            </li>
          {{- else }}
            {{- if eq .Params.disabled true -}}
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                  {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                </a>
              </li>
            {{- else -}}
              <li class="nav-item">
                <a class="nav-link{{ if $active }} active" aria-current="page{{ end }}"
                  aria-current="page" href="{{ .URL }}">
                  {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                </a>
              </li>
            {{- end -}}
          {{- end -}}
        {{- end }}
      </div>
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>